name: Build and deploy stingy-app

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    #    runs-on: self-hosted
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: "10.x"

      - name: Build with dotnet
        run: dotnet build --configuration Release src/Bootstrapper/Stingy.App/Stingy.App.csproj

      - name: dotnet publish (Bootstrapper only)
        run: dotnet publish src/Bootstrapper/Stingy.App/Stingy.App.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    #    runs-on: self-hosted
    needs: build

    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/myapp

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FED58FF040324A509B62F5B34B64CA11 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_32BED529E72C4AB7991CAFED2E0441AF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F0D4C37CA29B4E1FB6489D6170C846AA }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "stingy"
          slot-name: "Production"
          package: ${{ github.workspace }}/myapp
          startup-command: "dotnet Stingy.App.dll"
